html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px; 
}



/* NAVBAR PADDING WHEN EXPANDED AT SMALL RES */
@media (max-width: 768px) {
	body{
		font-family: 'Open Sans', sans-serif;
		padding-top: 95px;
	}
}

/* LANDING TOP PADDING */
@media{
  .header{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


/* LARGE RED HEADER */
h1 { 
	font-family: 'Pacifico';
	font-size: 55px;
  display: block;
  color: #b34029;
  margin-top: 0;
  margin-bottom: 0;
}

/* SMALL RED HEADER */
h2 { 
	font-family: 'Pacifico';
	font-size: 25px;
  display: block;
  color: #b34029;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* LARGE WHITE HEADER */
h3 { 
	font-family: 'Pacifico';
	font-size: 55px;
  display: block;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

/* UNICA ONE STYLE */
h4 { 
  font-family: 'Unica One';
  font-size: 20px;
  display: block;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

/* UNICA ONE STYLE */
h5 { 
  font-family: 'Unica One';
  font-size: 20px;
  display: block;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* CENTERING CONTAINER CONTENT */
.center-content {
	text-align: center;
}

.centered {
	float: none;
	margin: 0 auto;

}

.landingdiv {
	margin-top: 40px;
	margin-bottom: 40px;
}

.menudiv {
padding-top: 100px;
padding-bottom: 100px;
}

.betweendivs {
  padding-top: 10px;
  padding-bottom: 10px;
}

.betweendivslarge {
  padding-top: 80px;
  padding-bottom: 80px;
}

.redbg {
    background-color: #b34029;
}

/* TAB PANEL */
#exTab1 .tab-content {
  color : white;
  background-color: white;
  color: black;
  padding : 30px 30px;
  width: auto;
  height:auto;
  max-width: 850px;
}

/* TABS */
#exTab1 .nav-pills > li > a {
  font-family: 'Unica One', sans-serif;
  font-size: 20px;
  text-align: center;
  border-radius: 0;
  width: 140px;
  height: 45px;
  margin-bottom: 0px;
}

.nav-pills > li + li {
    margin-left: 0px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color:  #232323;
}

.nav-pills > li > a {
    background-color: white;
    color: black;
}

.nav-pills > li > a:hover {
    background-color: #232323;
    color: white;
}

.center-pills {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tab-pane {
  text-align: left;
}

/* ALTERING MENU TABS AT MIN RES */
@media (max-width: 1000px) {
#exTab1 .nav-pills > li > a {
width: 100%;
flex-direction: column;
margin-left: 0;
margin-right: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
width: 100%;
flex-direction: column;
}

.center-pills {
width: 100%;
flex-direction: column;
}
}

/* IMAGE SCALING CSS */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

.foodimagesize {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 940px;
}

.foodimage-container{
  height: 200px;
  position: relative;
}

.foodimage-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.bgimage {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  background: url(../img/whitelogobg.jpg) no-repeat center center scroll;

}

.bottompadding {
  padding-bottom: 30px;
}

.divpadding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.objectmargin {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* LANDING PAGE CSS */
.header{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/whitelogobg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.text-vertical-center {
    display: table-cell;
    vertical-align: middle;
}

/* WAFFLE IMAGE SIZE REGULATION */
.main-logo {
    width: 188px;
    height: 261px;
}

@media handheld, only screen and (max-width: 1200px) {
.main-logo {
    width: 150px;
    height: 208px;
}
}